<section class="section-assortment" id="assortment">
    <div class="container container-assortment">


        <h2 class="assortment-title">Наші сумки</h2>


        <ul class="assortment-list">

            <li class="assortment-item">
                <img class="assortment-card" srcset="/img/images-assortment/assortment-1-1x-min.png 1x,/img/images-assortment/assortment-1-2x-min.png  2x" 
                    src="/img/images-assortment/assortment-1-1x-min.png "
                    alt="EcoBag Classic">

                <div class="assortment-member">
                    <h3 class="assortment-title-item">EcoBag Classic</h3>
                    <p class="text-assortment">Елегантна та містка сумка для щоденного<br> використання.</p>
                    <p class="assortment-price">$25</p>
                </div>

                <button class="assortment-buy-btn" type="button">Купити</button>
            </li>

            <li class="assortment-item">
                <img class="assortment-card" srcset="/img/images-assortment/assortment-2-1x-min.png 1x,/img/images-assortment/assortment-2-2x-min.png 2x" 
                    src="/img/images-assortment/assortment-2-1x-min.png"
                    alt="EcoTote Shopper">

                <div class="assortment-member">
                    <h3 class="assortment-title-item">EcoTote Shopper</h3>
                    <p class="text-assortment">Ідеальна для покупок, з<br> посиленими ручками.</p>
                    <p class="assortment-price">$30</p>
                </div>

                <button class="assortment-buy-btn" type="button">Купити</button>
            </li>

            <li class="assortment-item">
                <img class="assortment-card" srcset="/img/images-assortment/assortment-3-1x-min.png 1x,/img/images-assortment/assortment-3-2x-min.png 2x" 
                src="/img/images-assortment/assortment-3-1x-min.png"
                    alt="EcoBackpack Urban">

                <div class="assortment-member">
                    <h3 class="assortment-title-item">EcoBackpack Urban</h3>
                    <p class="text-assortment">Зручний рюкзак для міста з відділенням<br> для ноутбука.</p>
                    <p class="assortment-price">$45</p>
                </div>

                <button class="assortment-buy-btn" type="button">Купити</button>
            </li>

            <li class="assortment-item">
                <img class="assortment-card" srcset="/img/images-assortment/assortment-4-1x-min.png 1x,/img/images-assortment/assortment-4-2x-min.png 2x" 
                    src="/img/images-assortment/assortment-4-1x-min.png"
                    alt="EcoCrossbody Mini">

                <div class="assortment-member">
                    <h3 class="assortment-title-item">EcoCrossbody Mini</h3>
                    <p class="text-assortment">Компактна сумка через плече для<br> найнеобхіднішого.</p>
                    <p class="assortment-price">$20</p>
                </div>

                <button class="assortment-buy-btn" type="button">Купити</button>
            </li>

            <li class="assortment-item">
                <img class="assortment-card" srcset="/img/images-assortment/assortment-5-1x-min.png 1x,/img/images-assortment/assortment-5-2x-min.png 2x" 
                    src="/img/images-assortment/assortment-5-1x-min.png"
                    alt="EcoLunch Bag">

                <div class="assortment-member">
                    <h3 class="assortment-title-item">EcoLunch Bag</h3>
                    <p class="text-assortment">Стильна та практична сумка для обідів.</p>
                    <p class="assortment-price">$15</p>
                </div>

                <button class="assortment-buy-btn" type="button">Купити</button>
            </li>

            <li class="assortment-item">
                <img class="assortment-card" srcset="/img/images-assortment/assortment-6-1x-min.png 1x,/img/images-assortment/assortment-6-2x-min.png 2x" 
                    src="/img/images-assortment/assortment-6-1x-min.png"
                    alt="EcoBeach Tote">

                <div class="assortment-member">
                    <h3 class="assortment-title-item">EcoBeach Tote</h3>
                    <p class="text-assortment">Велика сумка для пляжних речей з водонепроникною підкладкою.</p>
                    <p class="assortment-price">$35</p>
                </div>

                <button class="assortment-buy-btn" type="button">Купити</button>
            </li>

            <li class="assortment-item">
                <img class="assortment-card" srcset="/img/images-assortment/assortment-7-1x-min.png 1x,/img/images-assortment/assortment-7-2x-min.png 2x" 
                    src="/img/images-assortment/assortment-7-1x-min.png"
                    alt="EcoTravel Duffle">

                <div class="assortment-member">
                    <h3 class="assortment-title-item">EcoTravel Duffle</h3>
                    <p class="text-assortment">Містка дорожня сумка з додатковими кишенями.</p>
                    <p class="assortment-price">$60</p>
                </div>

                <button class="assortment-buy-btn" type="button">Купити</button>
            </li>

            <li class="assortment-item">
                <img class="assortment-card" srcset="/img/images-assortment/assortment-8-1x-min.png 1x,/img/images-assortment/assortment-8-2x-min.png 2x" 
                    src="/img/images-assortment/assortment-8-1x-min.png"
                    alt="EcoKids Bag">
                <div class="assortment-member">
                    <h3 class="assortment-title-item">EcoKids Bag</h3>
                    <p class="text-assortment">Яскрава та зручна сумка для дітей.</p>
                    <p class="assortment-price">$22</p>
                </div>

                <button class="assortment-buy-btn" type="button">Купити</button>
            </li>

        </ul>

    </div>

</section>