<section class="feedback-section" id="feedbacks">
  <div class="container">
    <h2 class="feedback-title">Що говорять наші клієнти</h2>
    <ul class="feedback-list">
      <li class="feedback-item">
        <div class="icons-wrapper">
          <svg class="star-icon" width="20" height="19">
            <use href="img/icons-sprite.svg#feedback-star"></use>
          </svg>
          <svg class="star-icon" width="20" height="19">
            <use href="img/icons-sprite.svg#feedback-star"></use>
          </svg>
          <svg class="star-icon" width="20" height="19">
            <use href="img/icons-sprite.svg#feedback-star"></use>
          </svg>
          <svg class="star-icon" width="20" height="19">
            <use href="img/icons-sprite.svg#feedback-star"></use>
          </svg>
          <svg class="star-icon" width="20" height="19">
            <use href="img/icons-sprite.svg#feedback-star"></use>
          </svg>
        </div>
        <p class="feedback-comment">
          Сумка дуже зручна та стильна, використовую щодня!
        </p>
        <p class="feedback-text-name">Анна</p>
      </li>
      <li class="feedback-item">
        <div class="icons-wrapper">
          <svg class="star-icon" width="20" height="19">
            <use href="img/icons-sprite.svg#feedback-star"></use>
          </svg>
          <svg class="star-icon" width="20" height="19">
            <use href="img/icons-sprite.svg#feedback-star"></use>
          </svg>
          <svg class="star-icon" width="20" height="19">
            <use href="img/icons-sprite.svg#feedback-star"></use>
          </svg>
          <svg class="star-icon" width="20" height="19">
            <use href="img/icons-sprite.svg#feedback-star"></use>
          </svg>
          <svg class="star-icon" width="20" height="19">
            <use href="img/icons-sprite.svg#feedback-star"></use>
          </svg>
        </div>
        <p class="feedback-comment">
          Відмінна якість матеріалів, приємно здивована.
        </p>
        <p class="feedback-text-name">Ігор</p>
      </li>
      <li class="feedback-item">
        <div class="icons-wrapper">
          <svg class="star-icon" width="20" height="19">
            <use href="img/icons-sprite.svg#feedback-star"></use>
          </svg>
          <svg class="star-icon" width="20" height="19">
            <use href="img/icons-sprite.svg#feedback-star"></use>
          </svg>
          <svg class="star-icon" width="20" height="19">
            <use href="img/icons-sprite.svg#feedback-star"></use>
          </svg>
          <svg class="star-icon" width="20" height="19">
            <use href="img/icons-sprite.svg#feedback-star"></use>
          </svg>
          <svg class="star-icon" width="20" height="19">
            <use href="img/icons-sprite.svg#feedback-star"></use>
          </svg>
        </div>
        <p class="feedback-comment">
          Сумка повністю відповідає опису, рекомендую!
        </p>
        <p class="feedback-text-name">Олена</p>
      </li>
      <li class="feedback-item">
        <div class="icons-wrapper">
          <svg class="star-icon" width="20" height="19">
            <use href="img/icons-sprite.svg#feedback-star"></use>
          </svg>
          <svg class="star-icon" width="20" height="19">
            <use href="img/icons-sprite.svg#feedback-star"></use>
          </svg>
          <svg class="star-icon" width="20" height="19">
            <use href="img/icons-sprite.svg#feedback-star"></use>
          </svg>
          <svg class="star-icon" width="20" height="19">
            <use href="img/icons-sprite.svg#feedback-star"></use>
          </svg>
          <svg class="star-icon" width="20" height="19">
            <use href="img/icons-sprite.svg#feedback-star"></use>
          </svg>
        </div>
        <p class="feedback-comment">Швидка доставка та гарне обслуговування.</p>
        <p class="feedback-text-name">Сергій</p>
      </li>
    </ul>
  </div>
</section>
