<footer class="footer">
    <div class="container footer-container">
        <nav class="footer-nav">
            <div class="footer-div">
          <a class="footer-logo" href="./index.html">
            <img class="footer-logo-icon" src="img/logo.svg" alt="EcoTote logo" />
          </a>
          <ul class="nav-list-footer">
            <li class="nav-item-footer">
                <a class="nav-link-footer" href="#about">Про нас</a>
            </li>
            <li class="nav-item-footer">
              <a class="nav-link-footer" href="#advantages">Переваги</a>
            </li>
            <li class="nav-item-footer">
              <a class="nav-link-footer" href="#assortment">Асортимент</a>
            </li>
            <li class="nav-item-footer">
              <a class="nav-link-footer" href="#gallery">Галерея</a>
            </li>
            <li class="nav-item-footer">
              <a class="nav-link-footer" href="#feedbacks">Відгуки</a>
            </li>
            <li class="nav-item-footer">
              <a class="nav-link-footer" href="#support">Контакти</a>
            </li>
          </ul>
          <ul class="social-footer">
            <li class="footer-social-icon">
                <a href="#" class="footer-social-link" >
                    <svg class="footer-icon" width="32" height="32">
                        <use href="img/icons-sprite.svg#icon-Instagram"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#" class="footer-social-link">
                    <svg class="footer-icon" width="32" height="32">
                        <use href="img/icons-sprite.svg#icon-LinkedIn"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#" class="footer-social-link">
                    <svg class="footer-icon" width="32" height="32">
                        <use href="img/icons-sprite.svg#icon-Youtube"></use>
                    </svg>
                </a>
            </li>
          </ul>
        </div>
        <div class="footer-contacts-copy">
          <address class="mobile-contacts">
            <ul class="mobile-contacts-list">
              <li class="mobile-contacts-item">
                <a class="mobile-contacts-link" href="tel:+380999091122"
                  >+38 (099) 909 11 22</a
                >
              </li>
              <li class="mobile-contacts-item">
                <a class="mobile-contacts-link" href="mailto:hello@ecotote.com"
                  >hello@ecotote.com</a
                >
              </li>
            </ul>
          </address>
          <p class="footer-copy">© 2025 EcoTote. Всі права захищені.</p>
        </div>
</footer>