<section class="gallery">
  <div class="container gallery-wrap">
    <h2 class="gallery-title">Галерея зображень</h2>
    <p class="gallery-text">EcoTotes y повсякденному житті</p>
    <ul class="gallery-list">
      <li class="gallery-item gallery-image-ecobag">
        <div class="gallery-hover-image gal-item-one">
          <picture>
            <sourc
            srcset="/img/gallery/gal-desk-1-min.jpg 1x,
            /img/gallery/gal-desk-1-2x-min.jpg 2x "
              media="(min-width: 1158px)"
              width="421"
              height="421"
            />
            <source
            srcset="/img/gallery/gal-tab-1-min.jpg 1x,
            /img/gallery/gal-tab-1-2x-min.jpg 2x "
              media="(min-width: 768px)"
              width="338"
              height="338"
            />
           <source
            srcset="/img/gallery/gal-mob-1-min.jpg 1x,
            /img/gallery/gal-mob-1-2x-min.jpg 2x "
              media="(max-width: 767px)"
              width="288"
              height="288"
            />
            <img
              class="gallery-image gal-image-ecobag"
              src="/img/gallery/gal-mob-1-min.jpg"
              alt="ecobag"
              width="288"
              height="288"
            />
          </picture>
        </div>
      </li>

<li class="gallery-item gallery-image-bag-two">
      <div class="gallery-hover-image gal-item-two">
          <picture>
            <source
            srcset="/img/gallery/gal-desk-2-min.jpg 1x,
            /img/gallery/gal-desk-2-2x-min.jpg 2x "
              media="(min-width: 1158px)"
              width="421"
              height="865"
            />
            <source
            srcset="/img/gallery/gal-tab-2-min.jpg 1x,
            /img/gallery/gal-tab-2-2x-min.jpg 2x "
              media="(min-width: 768px)"
              width="340"
              height="700"
            />
           <source
            srcset="/img/gallery/gal-mob-2-min.jpg 1x,
            /img/gallery/gal-mob-2-2x-min.jpg 2x "
              media="(max-width: 767px)"
              width="288"
              height="288"
            />
            <img
              class="gallery-image gal-image-ecobag"
              src="/img/gallery/gal-mob-2-min.jpg"
              alt="ecobag"
              width="288"
              height="288"
            />
          </picture>
        </div>
      </li>
<li class="gallery-item gallery-image-bag-three">
       <div class="gallery-hover-image gal-item-three">
          <picture>
            <source
            srcset="/img/gallery/gal-desk-3-min.jpg 1x,
            /img/gallery/gal-desk-3-2x-min.jpg 2x "
              media="(min-width: 1158px)"
              width="421"
              height="865"
            />
            <source
            srcset="/img/gallery/gal-tab-3-min.jpg 1x,
            /img/gallery/gal-tab-3-2x-min.jpg 2x "
              media="(min-width: 768px)"
              width="340"
              height="700"
            />
           <source
            srcset="/img/gallery/gal-mob-3-min.jpg 1x,
            /img/gallery/gal-mob-3-2x-min.jpg 2x "
              media="(max-width: 767px)"
              width="288"
              height="288"
            />
            <img
              class="gallery-image gal-image-ecobag"
              src="/img/gallery/gal-mob-3-min.jpg"
              alt="ecobag"
              width="288"
              height="288"
            />
          </picture>
        </div>
      </li>
<li class="gallery-item">
       <div class="gallery-hover-image gal-item-for">
          <picture>
            <source
            srcset="/img/gallery/gal-desk-4-min.jpg 1x,
            /img/gallery/gal-desk-4-2x-min.jpg 2x "
              media="(min-width: 1158px)"
              width="421"
              height="421"
            />
            <source
            srcset="/img/gallery/gal-tab-4-min.jpg 1x,
            /img/gallery/gal-tab-4-2x-min.jpg 2x "
              media="(min-width: 768px)"
              width="338"
              height="338"
            />
           <source
            srcset="/img/gallery/gal-mob-4-min.jpg 1x,
            /img/gallery/gal-mob-4-2x-min.jpg 2x "
              media="(max-width: 767px)"
              width="288"
              height="288"
            />
            <img
              class="gallery-image gal-image-ecobag"
              src="/img/gallery/gal-mob-4-min.jpg"
              alt="ecobag"
              width="288"
              height="288"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>