<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="header-logo" href="./index.html">
        <img class="logo-icon" src="img/logo.svg" alt="EcoTote logo" />
      </a>
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" href="#about">Про нас</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#advantages">Переваги</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#assortment">Асортимент</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#gallery">Галерея</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#feedbacks">Відгуки</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#support">Контакти</a>
        </li>
      </ul>
    </nav>

    <address class="contacts">
      <ul class="contacts-list">
        <li class="contacts-item">
          <a class="contacts-link" href="tel:+380999091122"
            >+38 (099) 909 11 22</a
          >
        </li>
        <li class="contacts-item">
          <a class="contacts-link" href="mailto:hello@ecotote.com"
            >hello@ecotote.com</a
          >
        </li>
      </ul>
    </address>
    <button class="burger-btn" type="button">
      <svg class="burger-icon" width="32" height="32">
        <use href="img/icons-sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
<!-- ==========Mobile menu====== -->
<div class="mobile-menu">
  <div class="container mobile-menu-container">
    <a class="header-logo mobile-menu-logo" href="./index.html">
      <img class="logo-icon" src="img/logo.svg" alt="EcoTote logo" />
    </a>
    <button class="close-btn" type="button">
      <svg class="close-icon" width="32" height="32">
        <use href="img/icons-sprite.svg#icon-x"></use>
      </svg>
    </button>
    <nav class="mobile-menu-nav">
      <ul class="mobile-nav-list">
        <li class="mobile-nav-item">
          <a class="mobile-nav-link" href="#about">Про нас</a>
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-link" href="#advantages">Переваги</a>
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-link" href="#assortment">Асортимент</a>
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-link" href="#gallery">Галерея</a>
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-link" href="#feedbacks">Відгуки</a>
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-link" href="#support">Контакти</a>
        </li>
      </ul>
    </nav>
    <address class="mobile-contacts">
      <ul class="mobile-contacts-list">
        <li class="mobile-contacts-item">
          <a class="mobile-contacts-link" href="tel:+380999091122"
            >+38 (099) 909 11 22</a
          >
        </li>
        <li class="mobile-contacts-item">
          <a class="mobile-contacts-link" href="mailto:hello@ecotote.com"
            >hello@ecotote.com</a
          >
        </li>
      </ul>
    </address>
  </div>
</div>
